body {
    background-color: #181A23;
    color: whitesmoke;
}

#map {
    height: 500px;
}

.principal-title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.principal-title h1 {
    margin-right: 2rem;
}

.principal-title h2 {
    font-family: fantasy;
    color: #FFB800;
    padding: 0pc 1rem;
}

.options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.options h2 {
    width: 160PX;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFB800;
    padding: 10px;
}

.body-options {
    padding: 20px 40px;
}

.body-options h2 {
    font-size: 1.1rem;
    margin: 10px 0px;
}

.options select {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.01rem;
    border-radius: 10px;
    width: 150px;
    height: 25px;
    padding: 0px 10px;
}